{% extends 'base.html.twig' %}

{% block title %}
	Movies Page
{% endblock %}

{% block body %}

	<h1>Woohooo.</h1>
	{#{ _self }#}
{#{ _charset }#}
	{#{ author }#}

	{#% for movie in movies %}
			        <li>{{ movie }}</li>
			    {% endfor %#}
{% endblock %}
