{% extends 'base.html.twig' %}

{% block title %}
	Movies Page
{% endblock %}

{% block body %}

	<h1 class="bg-blue-500 text-2xl text-center font-bold">Woohooo.</h1>
	{#{ _self }#}
	{#{ _charset }#}
	{#{ author }#}

	{#% for movie in movies %}
											        <li>{{ movie }}</li>
											    {% endfor %#}

<img src="{{ asset('build/images/image1.cc22945c.jpg')}}" alt=""> {% endblock %}
